<h1>Student's Information
</h1>

<div>
  Student Name:
  <%= @student.first_name %>
  <%= @student.last_name %>

</div>

<div>
  Student Age:
  <%= @student.age %>
</div>

<div>
  Highest Education:
  <%=@student.highest_education %>
</div>
