$primary-color: rgb(59, 79, 72);
$heading-colors: #e9efec;
$text-color: whitesmoke;
$main-font: 'Alegreya', serif;
$large-font: 60px;
$btn-background-color: #99bb4f;
$btn-font-color: #1f2926;
$border-bottom-color: #6cbe4b;
$btn-second-bgcolor: #eb75a3;
$stats-FS: 20px;
$select-BR: 10px;
$select-width: 150px;
$select-border: 1px solid #4faaa6;
$select-box-shadow: 1px 2px 2px grey;
