<div class="container">
  <div class="row mx-auto">
    <div class="col-lg-12 text-center py-4">
      <h1>
        Course Information
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 text-center stats py-1">
      Course Name:
      <%= @course.name %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 text-center stats py-1">
      Total Class Hours:
      <%= @course.total_class_hours %>
    </div>

  </div>

</div>
